.misuzu{
    text-align: center;
    opacity: 0.5;
    width: 100%;
    font-family: serif;
    position: absolute;
    z-index: -1;
    
}

.kaipi{
    text-align: center;
}

.field{
    text-align:center;
    margin: 50px;
}

.actions{
    text-align: center;
    margin: 100px;
    padding-top: -10px;
    width: 85%;
    font-family: serif;
}

.itten{
    text-align: center;
    margin: 100px;
    width: 88%;
    font-family: serif;
}